<h2>Your Orders</h2>

@if (viewModel | async; as viewModel) {
    <div class="order-list">
        @for (order of viewModel.orders; track order.id) {
            <mat-card class="order-row" appearance="outlined">
                <a [routerLink]="'/customer/order/' + order.id">
                    <mat-card-header>
                        <h3>Order #{{ order.id }}</h3>
                    </mat-card-header>
                    <mat-card-content>
                        <div>{{ order.status | mapOrderStatus }}</div>
                        <div><span class="label">Number of Items:</span> {{ order.orderItems.length }}</div>
                        <div><span class="label">Order Total:</span> {{ order.total | currency }}</div>
                    </mat-card-content>
                </a>
            </mat-card>
        }
    </div>

} @else {
    <div>Loading...</div>
}
