<h2>Order Details</h2>
<a routerLink="/customer/orders">View My Orders</a>
@if (viewModel | async; as viewModel) {
    @if (viewModel.order) {
        <mat-card appearance="outlined" class="order-detail">
            <mat-card-header>
                <h3>Order #{{ viewModel.order.id}}</h3>
            </mat-card-header>
            <mat-card-content>
                <div>{{ viewModel.order.status | mapOrderStatus }}</div>
                <div><span class="label">Number of Items:</span> {{ viewModel.order.orderItems.length }}</div>
                <div><span class="label">Order Total:</span> {{ viewModel.order.total | currency }}</div>
                <div class="products">
                    <div class="header">
                        Name
                    </div>
                    <div class="header">
                        Quantity
                    </div>
                    <ng-container *ngFor="let orderItem of viewModel.order.orderItems">
                        <div class="order-item">
                            {{ orderItem.product.name }}
                        </div>
                        <div class="order-item">
                            {{ orderItem.quantity }}
                        </div>
                    </ng-container>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button matButton="filled" color="warn" (click)="deleteOrder(viewModel.order.id)" title="Delete Order"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    } @else {
        <div>Unable to load order</div>
    }
} @else {
    <div>Loading...</div>
}

<ng-template #deleteOrderConfirmationDialog let-data>
    <h2 mat-dialog-title>Delete Order?</h2>
    <mat-dialog-content>
        Are you sure you want to delete order {{data.orderId}}?
    </mat-dialog-content>
    <mat-dialog-actions>
        <button matButton="outlined" mat-dialog-close>Cancel</button>
        <button matButton color="warn" [mat-dialog-close]="true">Delete</button>
    </mat-dialog-actions>
</ng-template>
